$border-color:   #662C10 !important;
$card-bg: #F5E4C4;
$card-border-width: none;
$border-width:                1px;
$border-widths: (
  8: 8px
);


@import "../node_modules/bootstrap/scss/bootstrap";