@chrset "utf-8";
:root {
  /* Colors: */

--main-color: #F5E4C4;
--sub-color: #EAD2B8;
--accent-color1: #662C10;
--accent-color2: #0E4966;
--accent-color3: #FFFFFF;
--text-color-000000: #000000;

/* Font/text values */
--basic-font-family: Herculanum;
--jp-font-family: YuMincho;
}
* {
  box-sizing: border-box;
}
/* 共通設定 */
body{
  font-size: 16px;
  font-family: var(--basic-font-family),var(--jp-font-family);
}
a{
  
  text-decoration: none;
  
  color:var(--accent-color3);
  
}
a:hover{
 color:black;
}
button{
  margin-right:0;
}
.button-text{
font-size: 1.15vw;
}
 h3,h4{
  text-align: center;
  margin-bottom: 0;
}
.wf-hannari { font-family: "Hannari"; }
/* header */
header{
  position: relative;
  /* background : url(../img/fv-img.png) ; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
}
.slider{
  top:0;
}
.slider img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}


.flexbox{
  display: flex;
  justify-content: space-between;/*両端揃えで配置*/
  align-items: flex-start;
  position: absolute;
  top:0;
  width: 100vw;

  
}
.flex-item1 {
  margin-left: 53px;
}

.flex-item2 {
  margin-right: 24px;
  margin-top: 24px;
}
.cutlary-logo{
  width: 33.43vw;
}
.logo{
  position:absolute;
  width: 15.15vw;
top:50%;
left:50%;
transform: translate(-50%,-50%);
z-index: 1;

}

.btn.btn-primary.rounded-pill{
  background-color: #662C10;

  line-height: 1.1;
  width: 16.5vw;
  height: 6.5vh; 

  
}
.btn.btn-primary.rounded-pill:hover{
  background-color: #EAD2B8;

}
.btn.btn-primary.rounded-pill.arrow{
  background-color: #662C10;
  border: none;
  line-height: 1.1;
  width: 16.35vw;
  height: 8.5vh;
  background-image: url(../img/arrow-sm.png);
  background-repeat: no-repeat;
  background-position: 95% 45%;
  background-size: 11.6%;
  margin-bottom: 46.5px ;
}
.news .btn.btn-primary.rounded-pill.arrow {
 margin-bottom: 46px;
}
.btn.btn-primary.rounded-pill.arrow:hover{
  background-color: #EAD2B8;
  color:black;
  background-image: url(../img/arrow-sm-black.svg);
}
.button-text{
 display:inline-block;
 margin-right: 20px;
}
.button-text:hover{
  background-repeat: no-repeat;
}
a.img{
background-repeat: no-repeat;
  background-image: url(../img/arrow-sm.png);
}
.reserve-label{
  font-size:1.3vw;
  margin:0 auto;

}
.btn-primary{
  border: none;
}

ul.nav_menu_ul{
  display:flex;
  top:28.8vw;
  width: 100%;
  color:#FFFFFF;
  justify-content: space-between;
  height: 21vw;
  align-items: flex-end;
  background-image: url(../img/PC-gnav-img.png);
  background-repeat: no-repeat;
  background-size: cover;
 
}

li.nav_menu_li{
  list-style-type: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}
li.nav_menu_li:first-child{
 margin-left: 16vw;
}
li.nav_menu_li a{
  display:inline-block;
  width: 10vw;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size:1.15vw;
}
.gnav{
  transition: all 0.6s;
  position:absolute;
  /*ナビのスタート位置と形状*/
  top: 29vw;
  z-index: 1;
  width:100%;
  height: 304px;
}

.sm-white-spoon{
  display: none;
}
.sp-only {
  display: none;
}
@media screen and (max-width: 375px){
  .gnav{
    width:100%;
    height: 100%;
    background-color: #0E4966;
    right:-420px;
    top:0;
  }

  .gnav.show{
    height: 100%;
    top:0;
    position: fixed;
   z-index:3; 
   right:0;

  }
 nav.show {
  position:absolute;
  display: block;
  margin: 0 auto;
  z-index:1;
  width: 100%;
  }

  ul.nav_menu_ul.show li {
    display: block;
  }
 .btn.btn-primary.rounded-pill.sp-only.show{
    display: block;
    margin: 0 auto;
    width: 150px;

  }
  .nav_toggle {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #EAD2B8;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    top: 24px;
    right:24px;
    z-index: 4;
    
  }
  .nav_toggle i {
    display: block;
    width: 42px;
    height: 1px;
    background-color: #662C10;
    position: absolute;
    transition: transform .5s, opacity .5s;
    top:21px;
    right:9px;
    
  }
  .nav_toggle.show {
    display: block;
   background-color: var(--accent-color1);
   /* position: fixed; */


  }
  .nav_toggle i:nth-child(2) {
    top:37px;
  }
  .nav_toggle.show i:nth-child(1){
    transform:  translateY(8px) rotate(-45deg);
   background-color:white;
  }
  
  .nav_toggle.show i:nth-child(2){
    transform:  translateY(-8px) rotate(45deg);
   background-color: white;
  }
  .nav{
    text-align: center;

  }

  ul.nav_menu_ul.show{
  
    padding-left: 0;
    display:flex;
    width: 100vw;
  
    flex-direction: column;
    color:#FFFFFF;
    justify-content: center;
    align-items: center;
    margin-top: 200px; 
    position: absolute;

  }
 
  li.nav_menu_li.show{
    display: block;
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 64px;

   
  }
 
  li.nav_menu_li:first-child{
   margin: 0 auto 30px;

  }
  li.nav_menu_li a{
    display:inline-block;
    width: fit-content;
    color: #FFFFFF;
    text-decoration: none;
    font-size:1.15vw;
  }
  .pc-only{
    display: none;
  }
  .sp-only{
    display: block;
  }
  .slider img {
    height: 90vh;
    object-fit: cover;
  }
  .gnav-img {
    position: absolute;
    top: calc(88vh - 83px);
    width:100%;  
    height: 154px;
    object-fit: contain;
  }
  #menu .btn.btn-primary.rounded-pill.tel{
   background-color: #EAD2B8;
    border: none;
    line-height: 1.1;
    width: 41.6vw;
    height: 6.5vh;

    width: 246px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .btn.btn-primary.rounded-pill:hover{
    background-color: #EAD2B8;
  }
 
  .logo{
    position: absolute;
    width: 26.9vw;
    top:  50%;
    z-index:1;
  }
  .sm-white-spoon {
    display: block;
    width: 100%;
    position: absolute;
    top:60%;
    text-align: center;
    margin-bottom: 16px;
    color: white;
    margin-top: 78px;
  }
  .vt-spoon{
    display: block;
    margin: 0 auto;
    position: relative;
    animation: pathmove 1.4s ease-in-out infinite;
  
  }
  .vt-spoon::after  {
    content: "";
    position: absolute;
    top:30px;
   

  }
  @keyframes pathmove{
    0%{
      height:0;
      top:0;
      opacity: 0;
    }
    30%{
      height:30px;
      opacity: 1;
    }
    100%{
      height:0;
      top:100px;
      opacity: 0;
    }
  }
  img.spoon-lg{
   margin-left: 46px;
  }
  .button-text{
    font-size: 1rem;
  }

}
#main{
  width: 100%;
  height: auto;
}
/* ニュース */
#news_all_page {
  width: 100%;
  height: 580px;
  align-items: flex-start;
  justify-content: space-evenly;
  position:relative;
 
  
  }
  #news_all{
    display: flex;
    width: 100%;
    height: 580px;
  
    align-items: flex-start;
    justify-content: space-evenly;
    position:relative;
   
  }
  
  .news{
    width:440px;
    height: 100%;
    top:3rem;
    margin-left:54px;
    flex-basis:33%;
  }
  .news h1{
  
   margin: 50px 0 1em;
  }
  time.date:first-of-type{
    display: inline-block;
    margin-right: 52px;
    margin-bottom: 32px;
  }
  time.date:nth-of-type(2){
    display: inline-block;
    margin-right: 56px;
    margin-bottom: 32px;
  }
  .news dd {
    display:block;
    text-align: left;
    margin-bottom: 40px;
  }
  .news dt{
    text-align: left;
  }
  .top-menu-flower{
   /* margin-right: 8.6vw; */
  margin-right: 150px;
  margin-top: 228px;
  }
  .inview {
  position: relative;
  margin-top: 16px;
     }
   .inview h3{
   margin-bottom: 82px;
     }
  .week-lunch{
    text-align: center;
    margin-top: -300px;
  }

  .weeklunch-backーimg{
    position: absolute;
   left:-20%;
   top:100%;
   width: 420px;
   height: 366px;
   margin-bottom: 60px;
  }
  time.date{
    margin-left: 0;
  }
  img.weekly-lunch{
    display:block;
    border: 8px solid #0E4966;
    height: 304px;
    width: 349px;
   }

  @media screen and (max-width:375px) {
    #news_all_page{
      display: block;
    height: 100%;
    }
    #news_all{
      display: block;
      height: 100%;
    }
     .news{
       width:100%;
       margin-left: 0;
       height: 100%;
       position: relative;
       text-align: center;
     }
    .news h1 {
      margin-left: 20px;
      padding-top: 56px;
      padding-bottom: 24px;
     }
     .news dt {
      display: block;
      margin: 0 auto;
      text-align: center;
     }
    .news dd{
      margin: 0 auto;
      width: 253px;
      text-align: left;
      padding-bottom: 20px;
      margin-left: 40px;
    }
  
     img.weekly-lunch{
      display:block;
      border: 8px solid #0E4966;
     }
  
     img.top-menu-flower {
     position: absolute;
     top:0;
     margin-top: 37px;
     right: 0;
     margin-right: 58px;
     }
     .btn.btn-primary.rounded-pill.arrow {
      width: 61.8vw;
      height: 12vw;
      margin: 46px 20px ;
    
     }
     .news dl , .news dd{
      margin-bottom: 0;
     }
     .inview.fadeIn{
      text-align: center;
      width: 100%;
     
     }
     .inview h2{
      padding-top: 30px;
     }
     .pc-only {
      display: none;
     }
     .weekly-lunch-menu {
      display: flex;
      align-items: center;
      line-height: 1.1;
     }
     .weekly-lunch-menu li {
      margin-bottom: 16px;
      text-align: start;
     }
    
     .inview h3 {
      margin-bottom: 40px;
     }
     .weeklunch-img{
      display: block;
      
      width: 100%;
    
     }
   
     li::marker {
      padding-right: 16px;
     }
     li{
      padding-left: 16px;
     }
     ul.sp-only.spoon-lg,li.sp-only.spoon-lg{
      list-style-image: url(../img/disk.png);
      list-style-position: outside;
    
     }
     time.date:first-of-type{
      margin-right: 16px;
     }
     #news_all_page ul.nav_menu_ul{
      margin-top: 30px;
     }
   
   }

  .fadeIn{
    opacity:0;
    transition: 2s;
  }
  .fadeIn.is-show {
    opacity: 1;
    margin-top: 36px;
    margin-right: 53px;
  }
  /* concept */
  #concept{
    background-color: #F5E4C4;
 
  }

  #concept h3{
   padding-top: 20px;
  
  }
  #concept h4 {
    padding-bottom: 20px;
  }
  .concept{
   display: flex;
  justify-content: space-between;
   /* padding-bottom: 78px; */
   align-items: center;
   background-image: url(../img/flont-door.png);
  
   background-size: cover;
   background-position: top right;
   background-repeat: no-repeat;
   width: 100vw;
   height:495px;
   /* padding-top: 38.6%; */
   position:relative;
  
  }
  /* .lace{ */
    /* position:relative; */
    /* width:445px; */
  /* left:60px; */
    /* z-index: 1; */
  /* } */
  .concept-content{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -250px;
    z-index:2;
    background-image: url(../img/lace.png);
    background-position: center;
    background-repeat: no-repeat;
  }
 
  .concept-content dt{
    line-height: 1.1;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
  
  }
  .concept-content dd{
   width: 230px;
   
  }
  dl.concept-text{
    text-align: center;
  }
  .concept-flower{
    width:45px;
    height:45px;
    z-index: 1;
  }
  .btn.btn-primary.rounded-pill.arrow.concept.d-block{
    width: 400px;
    height: 64px;
    margin-right: 50px;
    margin-bottom: 0;
   
  }
  @media screen and (max-width:375px) {

    #concept{
      /* position: static; */
      display:block;
      /* margin-top: 150px; */
      height: 100%;
    }
 
    .concept{
      display: block;
      width: 100%;
      background-size: contain;
      background-image: url(../img/sp-flont-door.png);
      background-size: contain;
      background-position: top right;
      background-repeat: no-repeat;
      
    }
  
    .concept-content  {
    height: 140%;
    margin-left: 0;
    background-size: 50%;
    
    }
    .concept-content dd{
      width:auto;
    }
  
    
    .concept-text{
      font-size: 16px;
    }
    .concept-content dt, .concept-content dd {
      font-size: 1rem;
    }
    .btn.btn-primary.rounded-pill.arrow.concept.d-block{
      width: 232px;
      margin: 0 auto;
      display: block;
    }
    img.lace{
      position:absolute;
      width: 200px;
      top: 160px;
      opacity:.8;
      left:20px;
      
    }
    .concept-flower{
      width: 10vw;
      height: 10vw;
      position:absolute;
      top: 420px;
      left: 270px
     
     
    }
  }

  #hanacafe{
    background-color: var(--main-color);
    position: relative;
    width: 100%;
    height: auto;
  }
  #hanacafe h3{
    padding-top: 20px;
  }
  .recommend {
    position:relative;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 55px;
  }
  .lunch-img{
    top: 123px;
    left: 134px;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.16);
  }
  .lunch-point img{
    top: 16px;
    left: 134px;
  }
  
  .coffee-img{
    top: 123px;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.16);
  }
  .coffee-point img{
    top: 16px;
  }
  .underline {
    text-align: center;
    vertical-align: auto;
  }
  hr.underline1 {
    position: relative;
   border: none;
   border-bottom: 1px solid #707070;
   margin:0;
   width: 313px;
   z-index: 1;
   top: -50px;
  }
  hr.underline2 {
    position: relative;
    border-bottom: 3px solid #707070;
    margin-bottom: 8px;
    width: 313px;
    z-index: 1;
    top: -50px;
   }
   /* MENU & PLAN */
   #menu {
    background-color: var(--sub-color);
   }
  
   .menu{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 400px;
    z-index: 1;
    background-image: url(../img/pentagon.png);
    background-repeat: no-repeat;
    background-size: 50%;
    
   }
  
   .button-menu{
    display: block;
   
  
    flex:1;
    
   }
   h3.headline-menu {
    margin-bottom: 50px;
  
  
   flex: 1;
   }
   .button-menu .btn.btn-primary.rounded-pill.arrow {
    display: block;
    width: 18.2vw; 
    height: 5.83vw;
    margin: 50px auto;
  
   }
  
  img.fork-white{
    position:relative;
    width: 11vw;
  top:100px;
  left: -300px;
    z-index: 1;
  }
  img.spoon-white{
    position:relative;
    width: 9.6vw;
    top: 50px;
    left: -250px;
    z-index: 1;
  }
  p.recommend-txt{
    width: 318px;
  }
  @media screen and (max-width:375px) {
    #hanacafe{
      position: static;
    }
  
    .recommend {
      display: block;
      text-align: center;
     }
    hr.underline1,.underline2{
      margin-left: auto;
      margin-right: auto;
    }
    img.sp-only.lunch-img{
      margin: 0 auto;
      
  
    }
    img.sp-only.coffee-img{
      margin:0 auto;
    }
    p.recommend-txt {
    width:260px;
    margin-left: 50px;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 0;
    }
    .menu{
      width: 100%;
     height: 100%;
      flex-direction: column;
      
      align-items: center;
      justify-content: space-evenly;
      background-image: none;
     
    }
    .button-menu {
      width: 100%;
      height: 100%;
     background-image: url(../img/pentagon-sp.png);
    }

    .button-menu .btn.btn-primary.rounded-pill.arrow{
     width: 56.2vw;
     height: 19.9vw;
    }
    h3.headline-menu {
      margin-top: 75px;
    }
  }
  #plan {
    background-color: var(--sub-color);
    height: 400px;
   }
  .plan{
    display: flex;
  }
  .plan-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 400px;
    background-image: url(../img/pentagon.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
    background-color: #EAD2B8;
   }

   img.fork-white2{
    position:relative;
    width: 11vw;
    top:-100px;
    left:1000px;
    z-index: 1;
  }
  img.spoon-white2{
    position:relative;
    width: 9.6vw;
    top: -150px;
    left: 1000px;
    z-index: 1;
  }
  @media screen and (max-width:375px) {
    section#plan{
      display: block;
      height: 500px;
      width: 100%;
    }
    .plan-menu{
      display: block;
      width: 100%;
    }
  #plan .headline-menu {
    position: absolute;
  
     display: block;
    height:200px ;
    width: 100%;
    z-index: 1;
    background-color: #EAD2B8;
    padding-top:80px;
   margin: 0 auto;
  }
  #plan .button-menu {
    display: block;
    position: absolute;
    height: 600px;
    width: 100%;
    margin-top: 200px;
    margin: 0 auto;
    top: 50%;
  }
  }
  #link{
    background-color: #F5E4C4;
    position: relative;
    top:0;
  }
  .link-flex{
    display:flex;
    
  }
  .brown{
    background-color: #662C10;
    width: 110px;
  }
  .link {
    display: inline-block;
    width: 100%;
  }
  .link-explain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  
  }
  .link-explain p{
    margin-bottom: 56px;
  }

  .cutlary {
  
   color:black;
  
  }
  .dish{
    animation: katakata 6s infinite ease-in-out alternate;
  }
  @keyframes katakata {
    0% {transform:translate(0, 0) rotate(0deg);}
    21% {transform:translate(0, 0) rotate(0deg);}
   
    22% {transform:translate(0, 0) rotate(-3deg);}
    23% {transform:translate(0, -1px) rotate(0deg);}
    24% {transform:translate(0, -1px) rotate(3deg);}
   
    25% {transform:translate(1px, 0) rotate(-2deg);}
    26% {transform:translate(0, 1px) rotate(0deg);}
    27% {transform:translate(0, 0) rotate(3deg);}
   
    28% {transform:translate(0, 0) rotate(0deg);}
    100% {transform:translate(0, 0) rotate(0deg);}
  }
  .link-more{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media screen and (max-width:375px) {
    .link-explain p {
     margin-left: 0%;
     width: 250px;
     text-align: center;
    }
    .link-more{
     display: block;
     
    }
    .dish-fork-knife{
      margin-right: 20px;
    }
   }
  .lace-white {
    position:absolute;
    z-index: 1; 
    top:50%;
    right: 0;
    opacity: .8;
  }
  #access{
    background-color: #0E4966;
    color:#ffffff;
  }
  #access h3{
    padding-top: 20px;
   
   }
   #access h4 {
     padding-bottom: 20px;
   }
  .white-flower img{
    width: 44px;
    margin-top: -160px;
  }
  .access-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn.btn-primary.rounded-pill.map{
    background-color: #F5E4C4;
  
  }
  .btn.btn-primary.rounded-pill.arrow.map{
   display: block;
  }
  .btn.btn-primary.rounded-pill.arrow.map{
    background-color: #F5E4C4;
    color:black;
    background-image: url(../img/arrow-sm-black.svg);
    margin: 10px auto 30px;
   }
  .button-text.black{
   color: #000000;
  }
  .btn.btn-primary.rounded-pill.arrow.map:hover{
   background-color: #662C10;
   color: white;
   background-image: url(../img/arrow-sm.png);
   margin: 10px auto 30px;
  }
  .button-text.black:hover{
    color: white;
   }
   #link h3{
    padding-top: 20px;
   
   }
   #link h4 {
     padding-bottom: 20px;
   }
   img.img-map.pc-only{
    margin-bottom: 40px;
   }
  @media screen and (max-width:375px) {
    #access{
      display: block;
     
    }
    .access-flex{
      display: block;
      width: 300px;
 
      margin: 0 auto;
    }
    .access-flex p {
      margin-top: 58px;
      margin-left: 10px;
    }
    .map .img-map {
      width: 280px;
 margin: 0 auto;
   
    }
    .access-flex p:last-of-type{
      margin-bottom: 58px;
    }
   

.btn.btn-primary.rounded-pill.arrow.map{
  margin: 20px auto 0;
}

  }
  footer {
    background-color: #0E4966;
    margin-top: -1px;
  }
  ul.footer-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    
    
  }
  .footer-nav li{
    margin-left: 0;
    list-style-type: none;

  }
  li.en-text{
    margin-left: 40px;
  }
  .ft-arrow{
   margin-right: 10px;
  }
  .en-text{
   display: inline-block;
   text-align: center;
  }
  .jn-text{
  margin-right:27px;
  }
  .footer-logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 46px;
  }
  small {
    
    margin-top: 14px;
    color: white;
  }
  .sns-link{
    display: flex;
    justify-content: center;
    
  }
  .twitter{
   
    margin-bottom: 35px;
  }
  .facebook{
    margin-left: 30px;
    margin-bottom: 35px;
  }
  .sns{
    margin-left: 30px;
    margin-bottom: 35px;
  }
  @media screen and (max-width:375px) {
    footer {
      display: block;
    
    }
    .footer-menu{
      position: relative;
    }
    li.footer-nav{
      list-style-type: none;
    }
    ul.footer-nav {
      display: block;
      padding-top: 30px;
    }
    li.jn-text, li.en-text{
      margin-left: 70px;
    
      list-style-type: none;
    }
    li.en-text{
      margin-left: 110px;
      margin-bottom: 32px;
    }
    .footer-flower{
      position:absolute;
      right:30px;
      top: 20px;
    }
    .sns-link {
      width: 100%;
    
        }
  .f-logo{
    width: 50px;
  }
  }
  /* news一覧ページ */
  header.news-header{
    width: 100%;
    height: 216px;
    margin: 0 auto;
  }
  /* ニュース */
  .news-header {

    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position:relative;
    background-image:url(../img/head.png);
    background-repeat: none;
    margin: 0 auto;

    }
    #news_all_page .gnav {
      top:0;
  
    }
   
    .news-header nav{
      justify-content: space-between;
    }
    .news-header ul.nav_menu_ul{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      color: #000000;
      background-image: none;
      top:0;
    }
    #news_detail .news-header ul.nav_menu_ul{
  
     margin-top: 30px;

    }
    
    .news-header li {
      list-style-type: none;
      margin-right: 64px;
      margin-top: 20px;
      margin-bottom: 22px;
    }
     .news-header li a{
      color:#000000;
   
     }
    .news_all{
      width:440px;
      height: 100%;
      top:3rem;
      margin-left:54px;
      flex-basis:33%;
    }
    .news-header h1.news-title{
      display: block;
     text-align: center;
     width: 100%;
     height: 100%;
     padding-top: 100px;

    }

    #breadcrumb ul{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      background-color: #0E4966;
      margin-top: 0;
      padding-top:10px;
      padding-bottom: 10px;
      color: white;
    }
    #breadcrumb li:not(:last-child)::after {
      display: inline-block;
      margin: 0 .25rem;
      content: ">";
    
  }
  #breadcrumb li{
    padding-left: 0;
  }
    /* #breadcrumb li{ */
      /* margin-left: 15px; */
     
    /* } */
    #breadcrumb a{
     color: white;
  
    }
    .news-table {
      margin-top: 85px;
      margin-bottom: 104px;
    }

    .news-table button.btn.btn-primary.rounded-pill{
      background-color: #EAD2B8;
      color:#662C10;
      margin-left: 140px;
      width: 142px;
      height: 50px;
      margin-right: 60px;
    }
    table tr{
      margin-left: 128px;
      height:58px;
    }
    table th,td {
      margin-bottom: 30px;
      text-align: left;
    }
    time{
      margin-left: 128px;
    }
    .news-footer-menu {
      padding-top: 30px;
    }
   main{
    text-align: center;
   }
   table td a {
    display: block;
    color: #000000;
   } 
   table td a:hover{
    font-weight: bold;
   }
    .pagenation a{
      color: #000000;
    }
 
    ul.pagenation {
      display: inline-block;
      padding: 0;
      
  }
  
  ul.pagenation li {
    display: inline;
    
  }
  
  ul.pagenation li a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
  }
  ul.pagenation li a:hover {
    background-color: #EAD2B8;
  }
  .news-footer-menu li.en-text {
   margin-left: 40px;
  }
  #news_all_page .sns-link{
margin-top: 30px;
   }
   #news_all_page .widelink2{
    font-weight: bold;
   }
@media screen and (max-width:375px) {
  .news-title.show{
    color: white;  
  }
  .news-header li.show{
    margin: 0 auto 50px;
    color: white;
  }
  
  header.news-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }
   h1.news-title {
    font-size: 20px;
    margin: 0 auto;
  padding: 0;
  }
  header.news-header {
    height: 83px;
  }
  header .nav_toggle {
    top:12px;
    right: 24px;
  }
  time{
    margin-left: 37px;
  }


.news-table button.btn.btn-primary.rounded-pill{
 margin-left: 14px;
 margin-top: 0px;
}
table th{

  vertical-align: text-top;
  
}
td{
  display: block;
}
a.widelink{
  margin-right: 60px;
  margin-left: -40px;
}
.news-header h1.news-title {
  padding-top: 20px;
  position: absolute;
  z-index: 1;
  color: black
}
ul.pagenation li a{
  padding: 8px 8px;
  margin: 0 auto;
}
ul.pagenation li {
  display: block;
  height: 100%;
  margin: 0 auto;
}
ul.pagenation {
  display: block;
  margin: 0 auto;
  height: 100%;
  padding: 50px;
  margin-bottom: 50px;
  width: 100%;
  
}
.news-table {
 margin-bottom: 0;
}
.news-table tr:last-child {
  padding-bottom: 20px;
}
.news-footer-menu li.en-text {
  margin-left: 130px;
 }
 #news_all_page a.reserve-link{
  display: block;
  width: 100%;

 }
 
}
/* ニュース詳細 */
#news_detail .gnav{
  top:0;
}
#news_detail .btn.btn-primary.rounded-pill{
  background-color: #EAD2B8;
  text-align: center;
  color:#662C10;
  height: 6vh;
}

#news_detail main{
  text-align: left;
}
#news_detail h1.news-title {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;

}
#news_detail h2{
  text-align: center;
  margin-top: 74px;
  margin-left: 197px;
}
#news_detail main time, #news_detail main button{
  display: inline;
  text-align: left;
  width: 142px;
  margin-right: 22px;
}
#news_detail main button{
  display: inline;
}
.endive{
 text-align: center;
 margin-top: 28px;
}
.price{
  text-align: right;
  margin-right: 178px;
  margin-top: 50px;
  margin-bottom: 34px;
}

#news_detail p:first-of-type{
  margin-top: 63px;

  line-height: 2.1;
  margin-right: 47px;
}
#news_detail p{
  margin-left: 47px;
  line-height: 2.1;
  margin-right: 47px;
}
.endive-explain {
  width: 881px;

}
#news_detail .line{
  border-left :7px solid #662C10;
  margin-left:230px;
}
#news_detail .endive-explain1{
  margin-left: 231px;
}
#news_detail .horizontal-line {
  display: block;
  width:896px;
  border-top: 2px dotted #0E4966 ;
  margin: 56px auto 24px;
}
#news_detail .horizontal-line:last-of-type{
  margin-bottom: 64px;
}
span.vertical-line {
  display: inline;
  border-right: 2px dotted #0E4966 ;
  height: 84px;
  width: 2px;
  
}

.text-flex {
  
  display: flex;
  width: 100%;
  justify-content:space-between;

  align-items: end;
  padding-left:250px;
  padding-right:250px;
}


@media screen and (max-width:375px) {
 
  #news_detail a.reserve-link{
    display: block;
    width: 100%;
   }
   #news_detail h1.news-title {
    padding-top: 22px;
  
   }
 #news_detail h2{
   margin: 50px auto;
   text-align: center;
   width: 320px;
  }
  #news_detail .pc-only{
   display: none;
  }
  .endive img{
    width: 251px;
    height: 188px;
  }
  .price {
    margin-right: 53px;
  }
  #news_detail .endive-explain1 {
  margin-left: 26px;
  margin-bottom: 50px;
  }

  #news_detail .line{
   margin-left: 30px;
   margin-right: 10px;
  }
  #news_detail .text-flex{
    padding:0;
    font-size: 10px;
    align-items: flex-start;
    margin-top: -10px;
  }
  #news_detail p{
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 2.1;
  }
  #news_detail p.article1{
    margin-left: 34px;
    margin-right: 5px;
    margin-top: 0;
    width:150px
  }
  #news_detail p.article2{
    margin-right: 34px;
   margin-left: 5px;
  
  }
  span.vertical-line{
   height: 33px;
  }
  #news_detail .horizontal-line{
  margin-bottom: 22px;
  width: 358px;
  }
  #news_detail .horizontal-line:last-of-type{
    margin-top: 22px;
  }
  #news_detail #breadcrumb li {
    margin-left: 0;
  
  }
  #news_detail #breadcrumb ul{
    padding-left: 17px;
  }

}
/* メニューページ */
#menu .gnav{
  top:0;
}
.menu-lunch{
  display: block;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  border:9px solid #F5E4C4;
}
.menu-lunch:last-of-type {
  margin-bottom: 48px;
}
#menu main{
  display: block;
  text-align: center;
}
.tax{
 text-align: left;
 margin-left: 120px;
}
#menu .arrow{
 width: 232px;
 background-image: url(../img/pagetop.png);

 
}
.pagetop{
  display: block;
  text-align: right;
  margin-right: 80px;
}
@media screen and (max-width:375px) {
  .menu-lunch{
    width: 254px;
    height: 362px;
  }
  main{
    text-align: center;
  }
  #menu .btn.btn-primary.rounded-pill.reservation{
   width: 246px;
   margin: 0 auto 30px;
  
  }
  p.tax{
   margin-left: 0;
   text-align: center;
  }
  .pagetop{
    margin-right: 0;
    text-align: center;
  }

  /* ページトップアイコン */
  #menu .btn.btn-primary.rounded-pill.arrow  {
   margin-bottom: 80px;

  }
  #menu .btn.btn-primary.rounded-pill.sp-only.tel.border.border-brown.border-4 {
    background-color:#EAD2B8;
    width: 300px;
    margin-top: 0;
    margin: 0 auto;
  }
  
  #menu a.reserve-link{
    display: block;
    width: 100%;
    margin-top: -30px;
   }
   #menu .reserve-web{
    font-size: 20px;
   }
   .reserve-tel{
    font-size: 24px;
    color: #000000;
 
   }
   #menu .news-header ul.nav_menu_ul{
    margin-top: 30px;
   }

   
}
/* plan */
#plan .gnav{
  top:0;

}
#plan h2:first-child{
  margin-top: 101px;
  margin-bottom: 23px;

}
#plan h2{
  z-index: 1;
  position: relative;
}
main{
  display: block;
  position: relative;

}
.spoon-xxl{
float:left;
margin-top: -12vw;
width: 34.9vw;
}
.anniversary{
  position:absolute;
  top:10vw;
  left:50%;
  transform: translateX(-50%);
  width:65.4vw;
 
}
.block{
  display: block;
  height: 60vw;
  position: relative;
  clear:both;

}
#anniversary p{
  display: block;
  text-align: left;
  margin-left: 17.2vw;
}
#plan p:first-of-type{

}
.reserve {
  display: flex;
  justify-content: space-evenly;
  align-items:end;
  margin-bottom: 95px;
}

.reserve-web{
  font-size: 24px;
}
#plan .btn.btn-primary.rounded-pill.reservation{
  display: block;
width:378px;
height: 121px;

}
#plan .btn.btn-primary.rounded-pill.tel.border.border-brown.border-8{
   
  width:378px;
  height: 121px;
  background-color: #EAD2B8;

}
.tel{
  font-size: 24px;
  color: black;
}
#party table{
  margin: 0 auto;
  width: 738px;

}
#party h2 {
  margin-bottom: 160px;
}

#party th{
  text-align: center;
  width: 167px;
  background-color: #0E4966;
  color: white;
 
}
#party{
  display: block;
  position: relative;
}
#party td{
  background-color: white;
  text-align: left;

}
.lg-blue-flower{
  position: absolute;
  top:0;
  right:120px;
  }
  .circle-sm{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0E4966;
    display: inline-block;
    margin: 0 10px;
  }
@media screen and (max-width:375px) {
  #plan ul.nav_menu_ul.show{
    margin-top: 30px;
   }
   #plan .gnav.show{
    display: block;
    margin: 0 auto;
    
   }
   #plan a.reserve-link{
    display: block;
    margin: 0 auto 30px;
   }
   .anniversary{
    display: block;
    position: static;
    width: 304px;
    height: 218px;
    margin: 32px auto 56px;
    transform: translateX(0);
   }
 .block{
  display: block;
  height: 100%;
 }
#plan p{
  margin-left: 35px;
  margin-bottom: 26px;

  line-height: 2;
  text-align: left;
}
.reserve{
  display: block;
}
#plan .btn.btn-primary.rounded-pill.reservation{
margin: 21px auto 56px auto;
width: 264px;
height: 56px;
font-size: 24px;
}
#plan .btn.btn-primary.rounded-pill.tel.border.border-brown.border-8{
  background-color: #EAD2B8;
  width: 246px;
  height: 56px;
  margin-top: 24px;
  
}

#party table{
  margin: 0 auto;
  width: 327px;
  table-layout:fixed;

}

#party table.patry th td,table.plan-detail th td {
  border: 1px #EAD2B8 solid;
  border-collapse: collapse;
}
#party th{
  text-align: center;
  width: 167px;
  background-color: #0E4966;
  color: white;
 
}
#party td{
  background-color: white;
  text-align: left;
  padding-left: 10px;
  overflow-wrap : break-word;
}
.circle-sm {
  display: none;
}

#plan h2.rental{
  margin-top: 72px;
}
img.lg-blue-flower{
  display: none;
}
table {
  width: 327px;
}
#party h2.rental-en{
  margin-bottom: 32px;
}
#party table td{
  margin-bottom: 0;
}
#party td {
  padding-bottom: 49px;
  border-collapse: collapse;
}
#plan .table-p{
  margin:0 0 8px 0;
  overflow-wrap : break-word;
}
}
/* リンクページ */
#link .gnav{
  top:0;
}
.link{
  width: 100%;
  height: 100%;
 
}
.link p{
   margin-top: 108px; 
   margin-bottom: 89px; 
}
.shop-list {
  list-style-type: none;
  display:grid;
  grid-template-columns: 14.8rem 14.8rem;
  grid-gap: 7.3rem 13.8rem;
  grid-template-rows: 45rem 45rem;
  justify-content: center;
  align-items: flex-start;
  
} 
.catd-body{
  background-color: #EAD2B8;
}
.card-body.bs-card-bg .btn.btn-primary.rounded-pill{
  width: 150px;
  text-align: center;

}
.card-body.bs-card-bg .btn.btn-primary.rounded-pill span{
  line-height: 2rem;
  vertical-align: middle;
}
#link span{
  line-height: 2rem;
  vertical-align: middle;
}
h5.card-title{
  /* margin-top: 20px; */
}
p.card-text{
  /* margin-top: 50px; */
}
.bg-img1{
  display: inline-block;
  width: 243px;
  height:1556.79;
  background-image: url(../img/link-img.png);
 
}
.bg-img2{
  display: inline-block;
  width: 243px;
  height:1556.79;
  background-image: url(../img/link-img.png);

}
#link main{
  display: flex;
  justify-content: space-between;
}
p.card-text1{
  margin-top: 68px;
  margin-bottom: 48px;
}
p.card-text2{
  margin-top: 48px;
}
p.card-text3{
  margin-top: 68px;
  margin-bottom: 88px;
}
p.card-text4{
  margin-top: 58px;
  margin-bottom: 48px;
}
@media screen and (max-width:375px) {
  #link ul.nav_menu_ul.show{
    margin-top: 30px;
   }
   #link .gnav.show{
    display: block;
    margin: 0 auto;
    
   }
   #link a.reserve-link{
    display: block;
    margin: 0 auto 30px;
   }
   #link main{
    display: block;
   }
   .shop-list {
    list-style-type: none;
    display:grid;
    grid-template-columns: 14.8rem;
    grid-gap: 1rem ;
    grid-template-rows: 45rem 45rem 45rem 45rem;
    justify-content: center;
    align-items: flex-start;
  } 
  p.card-text1,p.card-text2,p.card-text3,p.card-text4{
    margin-bottom: 48px;
  }
  #link .btn.btn-primary.rounded-pill {
    margin-top: 0;
    width: 150px;
  }
}