@chrset "utf-8";
:root {
  /* Colors: */
--sub-color: #EAD2B8;
--main-color: #F5E4C4;
--sub-color: #EAD2B8;
--accent-color1: #662C10;
--accent-color2: #0E4966;
--accent-color3: #FFFFFF;
--text-color-000000: #000000;

/* Font/text values */
--basic-font-family: Herculanum;
--jp-font-family: YuMincho;
}
* {
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: var(--basic-font-family),var(--jp-font-family);
}
header{
  position: relative;

  background-image: url(../img/fv-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;;
}
.flexbox{
  display: flex;
  justify-content: space-between;/*両端揃えで配置*/
  align-items: flex-start;
  
}

.flex-item1 {
  
  margin-left: 53px;
  margin-top: 53px;
}
.flex-item2 {
  margin-right: 32px;
  margin-top: 53px;
}
.header-logo{
  width: 12.8vw;
}
.btn.btn-primary.rounded-pill{
  background-color: #662C10;
  border: none;
  line-height: 1.1;
  width: 18vw;
  height: 8.1vh;
  margin-right:33px;
}
.gnav-area{
  /* overflow: hidden; */
  bottom:0;
}
.gnav-img {
  position: absolute; 
  object-fit: cover; 
  bottom:0vh;
  width: 100%;
}
.label{
  font-size:1.3vw;
}
.gnav {
  position: absolute;
top: 40vw;
left: 43vw;
transform: translate(-50%,-50%);
}
ul{
  display:flex;
  color:#FFFFFF;
}
li{
  list-style-type: none;
  margin-right: 64px;
 
}
li:first-child{
  margin-right:140px ;
}
li a{
  width: 64px;
}